{% extends 'main.twig' %}
{% block title %} Welcome, {{ name | split(' ')[0] }} {% endblock %}
{% block body %}panel{% endblock %}

{% block content %}
    <!-- Folder Modal -->
    <div class="modal fade" id="folder_modal" tabindex="-1" role="dialog" aria-labelledby="Folder Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if not message %}
                        <h4 class="modal-title" id="myModalLabel">Create new folder</h4>
                    {% else %}
                        <h4 class="modal-title" id="myModalLabel">{{ message.title }}</h4>
                    {% endif %}
                </div>
                <form action="" method="post">
                    <div class="modal-body">
                        {% if message.modal == "folder_modal" %}
                            <p>{{ message.message }}</p>
                        {% endif %}
                        <!-- Folder Name -->
                        <label for="folder_name">Folder Name</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="folder_name">
                                <span class="glyphicon glyphicon-folder-close"></span>
                            </span>
                            <input type="text" class="form-control" placeholder="Folder Name" aria-describedby="Folder Name" name="folder_name" id="folder_name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="submit_folder">Create Folder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Upload Modal -->
    <div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="File Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if not message %}
                        <h4 class="modal-title" id="myModalLabel">Upload new file</h4>
                    {% else %}
                        <h4 class="modal-title" id="myModalLabel">{{ message.title }}</h4>
                    {% endif %}
                </div>
                <form method="post" action="" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% if message.modal == "upload_modal" %}
                            <p>{{ message.message }}</p>
                        {% endif %}
                        <!-- Select File -->
                        <label for="files" class="file_selector">Select File(s)</label>
                        <input type="file" name="files[]" aria-describedby="Files" id="files" multiple>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="submit_files">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Welcome Message -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 panel_heading">
        <h1>Welcome, {{ name | split(' ')[0] }}</h1>
    </div>

    <!-- Buttons -->
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 panel_buttons">
        <ul>
            <li data-toggle="modal" data-target="#upload_modal">
                <span class="glyphicon glyphicon-upload"></span>
            </li>
            <li data-toggle="modal" data-target="#folder_modal">
                <span class="glyphicon glyphicon-folder-close"></span>
            </li>
            <li>
                <label for="logout">
                    <span class="glyphicon glyphicon-log-out"></span>
                </label>
            </li>
        </ul>
    </div>

    <!-- Breadcrumbs -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="/panel">Home</a></li>
            {% for breadcrumb in breadcrumbs.path %}
                    <li><a href="/panel/{{ breadcrumbs.directory[loop.index0] }}">{{ breadcrumbs.path[loop.index0] }}</a></li>
            {% endfor %}
        </ol>
    </div>

    <!-- Files and Folders -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="list-group">
            {% for file in files %}
                <li class="list-group-item">
                    <span class="badge"></span>
                    <a href="{{ url }}/{{ file }}">{{ file }}</a>
                    <a href="/file{{ url|replace({'/panel':''}) }}/{{ file }}">
                        <span class="badge pull-right">
                            <span class="glyphicon glyphicon-download"></span>
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Hidden logout form -->
    <form method="post" action="" class="hidden">
        <input type="submit" name="logout" id="logout">
    </form>
{% endblock %}

{% block js %}
    <script type="text/javascript">       

        $("document").ready(function(){
            // Change text of file selector when files are selected
            $("#files").change(function() {
                // Define files
                var files = $(this)[0].files;

                // Check if files are empty, one, or more than one
                if (files.length < 1){
                    // Update Text
                    $(".file_selector").html('Select File(s)');

                    // Update Background
                    $(".file_selector").css("background", "#43C0EE");
                } else if (files.length == 1) {
                    // Update Text
                    $(".file_selector").html('1 File Selected');

                    // Update Background
                    $(".file_selector").css("background", "#43EE8B");
                } else if (files.length > 1) {
                    // Update Text
                    $(".file_selector").html(files.length + ' Files Selected');

                    // Update Background
                    $(".file_selector").css("background", "#43EE8B");
                }
            });
        });

    </script>
{% endblock %}